:root {
  /* Акцент */
  --accent-cl: #2196f3;

  /* Светлая тема текст */
  --primary-txt--mode-ligt: #212121;
  --secondary-txt--mode-light: #757575;

  /* Темная тема текст */
  --primary-txt--mode-dark: #ffffff;
  --secondary-txt--mode-dark: rgba(255, 255, 255, 0.6);

  /* Светлая тема фон */
  --primary-bg--mode-light: #e5e5e5;
  --secondary-bg--mode-light: #f5f4fa;
  --header-bg--mode-light: #ffffff;

  /* Темная тема фон */
  --primary-bg--mode-dark: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-txt--mode-ligt);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Повторяющиеся стили */
.list {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.section {
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.subtitle {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Шапка сайта */
.header {
  background-color: var(--header-bg--mode-light);
}
.header :hover,
.header :focus {
  color: var(--accent-cl);
}

.header-container {
  display: flex;
  align-items: center;

  border-bottom: 1px solid #ececec;
}

.header-link-logo {
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.header-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-txt--mode-ligt);
}

.header-mail,
.header-phone {
  color: var(--secondary-txt--mode-light);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
}

.nav-list {
  display: flex;
  align-items: center;
  margin: 0px;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-txt--mode-ligt);
}

.header-contacts {
  margin-left: auto;
}

.header-mail {
  margin: 0px 50px 0px 0px;
}



/* Страница Студия */

/* Герой */
.hero {
  text-align: center;
  background-color: var(--primary-bg--mode-dark);
  color: var(--primary-txt--mode-dark);
}

.hero-title {
  padding-top: 200px;
  padding-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  padding: 10px 32px;
  margin-bottom: 200px;
  border: 0px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-txt--mode-dark);
  background-color: #2196f3;
  border-radius: 4px;
}

.hero-btn :hover,
.hero-btn :focus {
  color: var(--accent-cl);
}

/* Принципы работы */
.principles {
  background-color: var(--primary-bg--mode-light);
}

.principles-list {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}

.principles-item:not(:last-child) {
  margin-right: 30px;
}

.principles-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.principles-item {
}

.principles-txt {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-txt--mode-light);
}

/* Наша работа */
.works {
  background-color: var(--primary-bg--mode-light);
}

.works-list {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.works-item:not(:last-child) {
  margin-right: 30px;
}

/* Наша команда */
.team {
  background-color: var(--secondary-bg--mode-light: );
}

.team-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-content {
  padding: 30px 0px;

  text-align: center;
}

.team-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--secondary-txt--mode-light);
}

/* Страница Портфолио */

/* Фильтр */
.filter {
  background-color: var(--primary-bg--mode-light);
}

.filter-list {
  display: flex;
  justify-content: center;
  margin: 0;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  padding: 6px 22px;
  margin-bottom: 50px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-txt--mode-ligt);
  background-color: var(--secondary-bg--mode-light);
  border: 0px;
  border-radius: 4px;
}

.filter-list :hover,
.filter-list :focus {
  color: var(--primary-txt--mode-dark);
  background-color: var(--accent-cl);
}

.filter-projects-list {
  padding: 0px;
  margin: 0px;

  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
}

.projects-item {
  flex-basis: calc(100% / 3 - 30px);

  margin-left: 30px;
  margin-top: 30px;
}

.projects-title {
  padding-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-txt {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-txt--mode-light);
}

.card-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0px;
}

/* Футер */
.footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  background-color: var(--primary-bg--mode-dark);
}

.footer :hover,
.footer :focus {
  color: var(--accent-cl);
}

.footer-conteiner {
  display: block;
  padding: 60px 0px;
  margin-right: auto;
}

.footer-link-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-addres-link {
  margin-top: 20px;
}

.footer-addres-link,
.footer-mail-link,
.footer-phon-link {
  display: block;
  padding-bottom: 9px;
}

.footer-phon-link {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 50px;
}
.footer-addres-link {
  color: var(--primary-txt--mode-dark);
}

.footer-mail-link,
.footer-phon-link {
  color: var(--secondary-txt--mode-dark);
}