/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* Font family: Roboto
Font style: Regular
Font size: 16px
Line height: 19px
Line height: 100%
Align: Center
Vertical align: Top
Letter spacing: 3% */

:root {
  /* Акцент */
  --accent-cl: #2196f3;

  /* Светлая тема текста */
  --primary-txt--mode-ligt: #212121;
  --secondary-txt--mode-light: #757575;

  /* Темная тема текста */
  --primary-txt--mode-dark: #ffffff;
  --secondary-txt--mode-dark: rgba(255, 255, 255, 0.6);

  /* Светлая тема фона */
  --primary-bg--mode-light: #e5e5e5;
  --secondary-bg--mode-light: #f5f4fa;
  --futer-bg--mode-light: #ffffff;

  /* Темная тема фона */
  --primary-bg--mode-dark: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-txt--mode-ligt);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Шапка сайта */
.header-link-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link :hover,
.header-link :focus {
  color: var(--accent-cl);
}
