/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* Font family: Roboto
Font style: Regular
Font size: 16px
Line height: 19px
Line height: 100%
Align: Center
Vertical align: Top
Letter spacing: 3% */

:root {
  /* Акцент */
  --accent-cl: #2196f3;

  /* Светлая тема текст */
  --primary-txt--mode-ligt: #212121;
  --secondary-txt--mode-light: #757575;

  /* Темная тема текст */
  --primary-txt--mode-dark: #ffffff;
  --secondary-txt--mode-dark: rgba(255, 255, 255, 0.6);

  /* Светлая тема фон */
  --primary-bg--mode-light: #e5e5e5;
  --secondary-bg--mode-light: #f5f4fa;
  --header-bg--mode-light: #ffffff;

  /* Темная тема фон */
  --primary-bg--mode-dark: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-txt--mode-ligt);
}

/* Повторяющиеся стили */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.btn {
  cursor: pointer;
}

.subtitle {
  font-weight: 700d;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Шапка сайта */
.header {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  background-color: var(--header-bg--mode-light);
}
.header :hover,
.header :focus {
  color: var(--accent-cl);
}

.header-link-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-mail,
.header-phone {
  color: var(--secondary-txt--mode-light);
}

/* Футер */
.footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  background-color: var(--primary-bg--mode-dark);
}

.footer :hover,
.footer :focus {
  color: var(--accent-cl);
}

.footer-link-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-addres-link {
  color: var(--primary-txt--mode-dark);
}

.footer-mail-link,
.footer-phon-link {
  color: var(--secondary-txt--mode-dark);
}

/* Страница Студия */

/* Герой */
.hero {
  background-color: var(--primary-bg--mode-dark);
  color: var(--primary-txt--mode-dark);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: var(--primary-txt--mode-dark);
  background-color: #2196f3;
}

.hero-btn :hover,
.hero-btn :focus {
  color: var(--accent-cl);
}

/* Принципы работы */
.principles {
  background-color: var(--primary-bg--mode-light);
}

. .principles-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.principles-txt {
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--secondary-txt--mode-light);
}

/* Наша работа */
.works {
  background-color: var(--primary-bg--mode-light);
}

/* Наша команда */
.team {
  background-color: var(--secondary-bg--mode-light: );
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9px;
  letter-spacing: 0.03em;
}

.team-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9px;
  letter-spacing: 0.03em;
  color: var(--secondary-txt--mode-light);
}

/* Страница Портфолио */

/* Фильтр */
.filter {
  background-color: var(--primary-bg--mode-light);
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-txt--mode-ligt);
  background-color: var(--secondary-bg--mode-light);
}

.filter-list :hover,
.filter-list :focus {
  color: var(--primary-txt--mode-dark);
  background-color: var(--accent-cl);
}

/* Проекті */
.projects {
  background-color: var(--secondary-bg--mode-light);
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-txt {
  font-size: 16px;
  line-height: 1.87x;
  letter-spacing: 0.03em;
  color: var(--secondary-txt--mode-light);
}
